/*div[bs-navbar] .active {
    background-color: #428bca;
}

div[bs-navbar] .active a {
    color: #fff;
    background-color: #428bca;
}*/

md-menu-item.active {
    color: #fff;
    background-color: #428bca;
}

md-menu-item.active a {
    color: #fff;
}

.truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}